{% extends 'accounts/base.html' %}
{% load static %}

{% block content %}

<div class = "container  user_card center">
    <form method="POST" action="">
						{% csrf_token %}
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text glyphicon glyphicon-log-in"></span>
							</div>

							<input type="text" name="username" placeholder="Username..." class="form-control">
						</div>

						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>

								<input type="password" name="password" placeholder="Password..." class="form-control" >
						</div>

							<div class="d-flex justify-content-center mt-3 login_container">
				 				<input class="btn btn-primary" type="submit" value="Login">
				   			</div>
					</form>

                    {% for message in messages %}
					<p id="messages">{{message}}</p>
				    {% endfor %}			
		
				<div class="mt-4">
					<div class="d-flex justify-content-center links">
						Don't have an account? <a href="{% url 'create-user' %}" class="ml-2">Sign Up</a>
					</div>
</div>


{% endblock %}